= @quiz.video.title
- @quiz.questions.each do |question|
  %p="Q: #{question.body}?"
  - question.answers.shuffle.each do |answer|
    ="A: #{answer.body}"
    = question.answer == answer ? '*' : nil
    %br


-# = react_component 'Quiz'
