- if resource.errors.any?
  #error_explanation
    %ul
      - resource.errors.full_messages.each do |message|
        %li= message

-# - if flash.any?
-#   #error_explanation
-#     %ul
-#       - flash.each do |name, msg|
-#         %li= msg
