:javascript
  document.addEventListener('turbolinks:load', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, {});
  });
  document.addEventListener('turbolinks:before-visit', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems, {});
    // if (instances){ instances.map(function(instance) {instance.destroy(); } }
  });

  $(document).ready(function(){
    $('.parallax').parallax();
  });

= react_component "VidQuiz", @props, {style: 'width: 100%', prerender: false}
