-# =link_to "Users", '/users'
-# %br
-# =link_to "Videos", '/videos'
-# %br
-# =link_to "Quizzes", '/quizzes'
-# %br
-# =link_to "Questions", '/questions'
-# %br
-# =link_to "Answers", '/answers'
-# %br

.about
  .title
    %h1 Learn more
    %div= link_to "Get Certified", new_user_registration_path, class: "waves-effect waves-light btn btn-special black white-text"
  .powered
    %div Powered by YSPN360

.bottom-footer
  %ul
    %li 2020 Youth Sports Media, Inc.
