-# =link_to "Users", '/users'
-# %br
-# =link_to "Videos", '/videos'
-# %br
-# =link_to "Quizzes", '/quizzes'
-# %br
-# =link_to "Questions", '/questions'
-# %br
-# =link_to "Answers", '/answers'
-# %br

.about
  .title
  %h2 Welcome to Concussion 360, a foremost online concussion protocol training program. Before you begin, please see the FAQ below that will help make your testing process a smooth one.
  .faq
    %b Who's providing the information and the testing?
  .faq Dr. Tracy Zaslow, MD, FAAP, CAQSM. Her resume includes:
  %li Children's Orthopaedic Center (COC) at Children's Hospital Los Angeles
  %li Medical Director, COC Sports Medicine and Concussion Program
  %li Assistant Professor, University of Southern California
  %li LA Galaxy, Team Physician
  .faq
    %b Is there a cost for the testing?
  Yes, there is a nominal fee for the program: $15.
  .faq
    %b Will my registration information be shared?
  No. We won't sell or distribute your personal information or metrics.
  .faq
    %b How does the testing process work?
  You will watch a series of videos that simulate a classroom setting with Dr. Zaslow: a progression of material.

  After each video, you will be directed to answer five multiple-choice/true-false questions.

  The questions and answers are below each video. Once the Q&amp;A section is completed, click the next button.
  .faq
    %b How long does the test take?
  The program’s material is thorough, but there is no set amount of time: User’s pace.
  .faq
    %b What is considered a "passing" grade?
  You must answer
  %b 80 percent
  of the questions correct to receive your certification of completion.
  %b Note:
  If you don't pass a particular section, you can't move on to the next lesson.
  .faq
    %b How do I receive my certification of completion?
  Once you've passed the test, the Concussion Protocol Cert. of Completion will be emailed to you.
  .faq
    %b What device is suggested for taking the test?
  Because of the importance of the material, and the concentration required, the best user experience is on a laptop or computer.

  .faq
  %div= link_to "Get Started", new_user_registration_path, class: "waves-effect waves-light btn btn-special black white-text"
  .powered

.bottom-footer
  %ul
    %li 2020 Youth Sports Media, Inc.
