= react_component 'StripeCheckout', @props

.col.card.s12.m6.offset-m3.blue-grey-text.text-darken-2{style: 'padding: 2rem; margin-top: 10rem;'}
  .card-content
    %h2.header.flow-text Purchase $20 Certificate Training
    .btn-container.col.s12.m6.offset-m3.blue-grey-text.text-darken-2{style: 'float: none'}
      %button.waves-effect.black.waves-light.btn-large#checkout-button{style: 'width: 100%; float: none'} Purchase
