-# =link_to "Users", '/users'
-# %br
-# =link_to "Videos", '/videos'
-# %br
-# =link_to "Quizzes", '/quizzes'
-# %br
-# =link_to "Questions", '/questions'
-# %br
-# =link_to "Answers", '/answers'
-# %br

.hero
  -# = image_tag asset_path('background-image.jpg')
  .title
    %h1 Online Concussion Protocol Training
    %div= link_to "Get Started", new_user_registration_path, class: "waves-effect waves-light btn btn-special black white-text"
  .powered
    %div Powered by YSPN360

.bottom-footer
  %ul
    %li 2019 Youth Sports Media, Inc.
