body {
  background-color: #dedede;
}
.valign-wrapper {
  min-height: calc(100vh - 64px);
  background-color: #dedede;
}
.nav-wrapper {
  padding: 0 2rem;
  background-color: #164E7E;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#error_explanation {
  color: red;
}
.card .card-action a {
  margin-right: 0 !important;
}
nav .sidenav-trigger {
  margin: 0 !important;
}
.nopad {
  padding: 0 !important;
  margin: 0 !important;
}
.videos-wrapper, .video-wrapper {
  height: calc(100vh - 64px) !important;
  overflow: scroll !important;
  background: white;
}
.video-wrapper {
  padding: 1rem 5rem !important;
}
// Override Material bug
input[type=radio] {
  display: none;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.brand-logo {
  font-size: 12px;
}

.hero {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  background-image: url('https://concussion360.s3.amazonaws.com/background-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.powered {
  font-size: 12px;
  color: #fff;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.4);
  text-align: center;
  letter-spacing: -1px;
  line-height: .95;
  font-size: 42px;
  width: 60%;}

.bottom-footer {
  background-color: #dedede;
  min-height: 45px;
  height: auto;
  font-size: 12px;
  width: 100%;
  color: #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
 }

.bottom-footer ul {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
 }

.bottom-footer li {
  list-style: none; }

.btn-special {
  min-width: 180px;
}

.btn {
  background-color: #fff;
  color: white;
}
