body {
  background-color: #fff;
}
.valign-wrapper {
  min-height: calc(100vh - 64px);
  background-color: #dedede;
}
.nav-wrapper {
  padding: 0 2rem;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

h1 {
  font-size: 24px;
}

#error_explanation {
  color: red;
}
.card .card-action a {
  margin-right: 0 !important;
}
nav .sidenav-trigger {
  margin: 0 !important;
}
.nopad {
  padding: 0 !important;
  margin: 0 !important;
}
.videos-wrapper, .video-wrapper {
  height: calc(100vh - 64px) !important;
  overflow: scroll !important;
  background: white;
}
.video-wrapper {
  padding: 1rem 5rem !important;
}
// Override Material bug
input[type=radio] {
  display: none;
}
.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
}

.brand-logo {
  font-size: 22px !important;
  color: #000 !important;
  font-weight: 500 !important;
}

.hero {
  min-height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  background-color: #fafafa;
  // background-image: url('https://concussion360.s3.amazonaws.com/background-image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.powered {
  font-size: 12px;
  color: #121212r;
  margin-top: 20px;
  color: #bd10e0;
  font-style: italic;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  // text-shadow: 1px 1px 3px rgba(0,0,0,.1);
  text-align: center;
  line-height: .95;
  font-size: 36px;
  width: 60%;}

  .title p {
    font-weight: 400;
    font-size: 24px;
  }

.bottom-footer {
  background-color: #dedede;
  min-height: 45px;
  height: auto;
  font-size: 12px;
  width: 100%;
  color: #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 30px;
 }

.bottom-footer ul {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: flex;
 }

.bottom-footer li {
  list-style: none; }

.btn-special {
  min-width: 180px;
  height: auto !important;
  padding: 5px !important;
  font-size: 16px !important;
  color: #fff !important;
  background-color: #007bff !important;
  border-radius: 3px !important;
}

.learn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.faq {
  padding-top: 20px;
  font-size: 22px;
  color: #007bff;
}

.faq p {
  color: #121212;
  font-size: 18px;
}

.btn {
  background-color: transparent !important;
  color: #007bff !important;
  border: 1px solid #007bff !important;
  border-radius: 3px !important;
  box-shadow: none !important;
}

.btn-blue-fill {
  background-color: #007bff !important;
  color: #fff !important;
}

.btn-gray {
  border: 1px solid #111 !important;
  color: #111 !important;
}

.collection {
  display: none !important;
}
