.valign-wrapper {
  min-height: calc(100vh - 64px);
}
.nav-wrapper {
  padding: 0 2rem;
}
#error_explanation {
  color: red;
}
.card .card-action a {
  margin-right: 0 !important;
}
nav .sidenav-trigger {
  margin: 0 !important;
}
