.quiz-container {
  margin: 2rem 0px 6rem;

  hgroup {
    margin: 1rem 0;
  }
  input[type=radio]:checked + span:after, input[type=radio].with-gap:checked + span:after {
    background-color: (#164E7E);
  }
  input[type=radio]:checked + span:after, input[type=radio].with-gap:checked + span:before, input[type=radio].with-gap:checked + span:after {
    border-color: (#164E7E);
  }
}
